#pseudo-touch-panel {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: grey;
}

#pseudo-touch-panel.visible {
  display: inline-block;
}
